<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ui" parallel="classes" thread-count="1">
    <!--parameter name="Environment" value="${testEnvironment}"/-->
    <test verbose="2" preserve-order="true" name="mainfolder">
        <classes>
            <class name="executor.UITask"/>
        </classes>
    </test>
</suite>